<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @if (!String.IsNullOrWhiteSpace(@ViewBag.Style)) {
        <link href="/Content/@String.Format("{0}.css", ViewBag.Style)" rel="stylesheet"/>
    }
    else { 
        @Styles.Render("~/Content/markdown")
    }

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    @if (!String.IsNullOrWhiteSpace(@ViewBag.Hightlight)) {
        <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
        <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
        <script>
            if (typeof hljs !== 'undefined' && hljs) {
                hljs.initHighlightingOnLoad();
            } else {
                console.log("Could not find 'highlight js' object.");
            }
        </script>
    }
</body>
</html>
