@{
    Layout = "";
}

@model AppexApi.Models.Resume

<html>
<head>
    <title>@Model.name</title>
    <link href="~/Content/resume.css" rel="stylesheet" />
</head>

<body>
    <div id="profile">
        <section id="topcard" class="profile-section profile-overview">
            <h1 id="name">@Model.name</h1>
            <p class="headline title">@Model.title</p>
            <div class="extra-info">
                @foreach (var link in Model.links) {
                    <div>
                        <span class="site-name">@link.name:</span>
                        <span class="site-display-name"><a href="@link.url">@link.displayName</a></span>
                    </div> 
                }
            </div>
        </section>

        <section id="experience" class="profile-section">
            <h3 class="title">Profesional Experience</h3>
            <ul class="positions">

                @for (int i = 0; i < 3; i++) {
                    <li class="position">
                        <header>
                            <h4 class="item-title">Senior Software Engineer</h4>
                            <h5 class="item-subtitle">Travana Inc.</h5>
                        </header>
                        <div class="meta">
                            <span class="date-range">
                                <time>February 2016</time>  –  Present (1 year 2 months)
                            </span>
                            <span class="location">San Francisco Bay Area</span>
                        </div>
                        <p class="description">Developed the company's main product and services to allow customers search and book flights online. Developed and released to production in less than 6 months.<br>
                            <br>
                            Optimized code base, removing 145,000 lines of code, improving manageability and easy for engineers to understand and contribute to core product.<br>
                            <br>
                            Redesigned logging and exception handling, reducing debugging time by &gt;50% and allowing developers to quickly identify and locate errors in the codebase.
                        </p>
                    </li>
                }
            </ul>
        </section>
    </div>
</body>
</html>
